<app-header />
<div class="instructions">
    <p></p>
</div>
<div id="belowHeader">
    <div id="forUserVerticalSpace"></div>
    <div id="filterBar">
        <button class="buttons" [ngClass]="{ 'active': activeButton === 1 }" (click)="setFilter('', 1)" [disabled]="isDisabled" >
            All
        </button>
        <button class="buttons" [ngClass]="{ 'active': activeButton === 2 }" (click)="setFilter('Active', 2)" [disabled]="isDisabled" >
            Active
        </button>
        <button class="buttons" [ngClass]="{ 'active': activeButton === 3 }" (click)="setFilter('Completed', 3)" [disabled]="isDisabled" >
            Completed
        </button>
        <span class="hover-message">Please select a user to apply filter</span>
    </div>
</div> 
<main>
    <div *ngIf="!displayUsers(); else fallbackForUsers" #loaderDiv >
        <div id="load" class="loading"> </div>
    </div>
    <ng-template #fallbackForUsers>
        <ul id="users">
            <li *ngFor="let user of users">
                <app-user [user]="user" [selected]="user.id === selectedUserId" (select)="onSelectUserFromApp($event)" />
            </li>
        </ul>
        <app-tasks *ngIf="selectedUser; else fallback" [userId]="selectedUser.id" [name]="selectedUser.name" [filter]="filter"/>
        <ng-template #fallback>
            <div class="selectUser">
                <h2>Welcome</h2>
                <div>Please select a user to see their tasks!</div>
            </div>
        </ng-template>
    </ng-template>
    
</main>